html, body {
	font-family: Helvetica;
	margin: 0;
	padding: 0;
	background: url("img/scribble_light.png");
}

p {
	text-align: center;
}

svg {
	cursor: pointer;
}

.red-svg {
    fill: #f15151;
}

.white-svg {
    fill: lightgray;
}

.header-p {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}

.elements-gride {
	text-align: center;
}

.elements-container {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: flex-start;
}

.element-item {
	width: 31%;
	padding: 5px;
	margin: 5px;
	border: 2px solid #fcfcfc;
	box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
	background-color: #fff;

}

.element-item:not(:hover){
	opacity: 0.9;
}

.description {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
  	-webkit-box-pack: space-evenly;
  	    -ms-flex-pack: space-evenly;
			  justify-content: space-evenly;
	background-color: #fff;
}

.user {
	padding: 0 10px;
}

.profile_image {
	display: inline-block;
	width: 32px;
	height: 32px;
	border-radius: 21px;
}

.user_name a {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
  	-ms-flex-pack: distribute;
  	    justify-content: space-around;
	text-decoration: none;
	color: black;
}

.user_name_text {
	display: inline-block;
	margin-left: 5px;
}

.date {
	font-size: 14px;
	padding: 10px;
}

.likes {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
  	-ms-flex-pack: distribute;
  	    justify-content: space-around;
	padding: 10px;
	position: relative;
}

.likes span {
	font-size: 14px;
}

.photo-item-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.back {
	font-size: 120px;
	color: gray;
}

.photo-item {
	display: inline-block;
	border: 1px solid #ccdddd;
	text-align: center;
	padding: 20px;
}

.item-img {
	width: 100%;
}

.post-image {
	width: 100%;
}

input {
	position: relative;
	width: 98%;
	height: 60px;
	padding: 10px;
	margin: 20px auto;
	background-color: #fff;
	border: 2px solid #fcfcfc;
	box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
	cursor: pointer;
	font-size: 20px;
}

.loading{
	position: fixed;
	top: 100px;
	left: 48%;
	z-index:1000;
	margin: 0px auto;
	border-radius: 50%;
	border: 4px solid  #f1f1f1;
	border-top: 4px solid red;
	width:50px;
	height: 50px;
	-webkit-animation: 1.64s loading infinite linear;
	        animation: 1.64s loading infinite linear;
	-webkit-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%)
 }

 @-webkit-keyframes loading {
   0%{
	 -webkit-transform: rotate(0);
	         transform: rotate(0)
   }
   100%{
	 -webkit-transform: rotate(360deg);
	         transform: rotate(360deg)
   }
 }

 @keyframes loading {
   0%{
	 -webkit-transform: rotate(0);
	         transform: rotate(0)
   }
   100%{
	 -webkit-transform: rotate(360deg);
	         transform: rotate(360deg)
   }
 }

@media (max-width: 1199px) {
	.element-item {
			width: 47%;
	}
}

@media (max-width: 767px) {
	.element-item {
		width: 96%;
	}
	.element-item:not(:hover){
		opacity: 1;
  }
  .photo-item-container{
    flex-direction: column;
  }
  .photo-item {
    padding: 5px;
  }
  .back {
    font-size: 50px;
  }
}

@media (max-width: 400px) {
	.date {
	    display: none;
	  }

}
